In [1]:
# Introduction to Python - Practice Exercise

# Task 1: Variable Declaration and Data Types
# Declare variables of different types and print their values and types

# Task 3: Basic Operations
# Perform arithmetic, comparison, and logical operations with variables

# Task 4: Data Collections
# Create examples of a list, dictionary, and tuple, then access specific elements

# Task 5: Expression Combination
# Write an expression that combines multiple operations and variables

In [3]:
# Task 1: Variable Declaration and Data Types
# Declare variables of different types and print their values and types
int_var = 35
float_var = 8.308
str_var = "Jeremiah"
bool_var = False

print(int_var, type(int_var))
print(float_var, type(float_var))
print(str_var, type(str_var))
print(bool_var, type(bool_var))

35 <class 'int'>
8.308 <class 'float'>
Jeremiah <class 'str'>
False <class 'bool'>

In [4]:
#Task 2: String Manipulation
Example_string=("Pineapple Pizza is actually okay")

print(Example_string.lower())                  #Convert into lowercase
print(Example_string.split(","))               #Split into a list
print(Example_string.replace("actually","not")) #Replace part of the string

pineapple pizza is actually okay
['Pineapple Pizza is actually okay']
Pineapple Pizza is not okay

In [13]:
# Task 3: Basic Operations
# Perform arithmetic, comparison, and logical operations with variables
a, b = 12, 6

print (a-b, a*b, a/b, a%b, a**b, a+b, a//b)   #Artihmetic
print (a>b, a<b, a==b, a!=b, a>=b, a<=b)      #Comparison
print (a>7 and b<7, a>7 or b>a, not(a==b))    #Logical

6 72 2.0 0 2985984 18 2
True False False True True False
True True True

In [30]:
# Task 4: Data Collections
# Create examples of a list, dictionary, and tuple, then access specific elements
my_list = [0,1,2,3,4,5,6,7]
my_tuple = (10,20,30)
my_dict = {"Name":"Jeremiah", "Location":"RI", "Age":"31"}

print(my_list[6])          #Access element from list
print(my_tuple[0])         #Access elementt from tuple
print(my_dict["Location"]) #Access element from Dictionary

6
10
RI

In [29]:
# Task 5: Expression Combination
# Write an expression that combines multiple operations and variables
int_var = 35
float_var = 8.308
a, b = 12, 6
result = (int_var * float_var) / (a-b)
print("Final result:", result)

Final result: 48.46333333333333